.contenido_imagen {
    padding-top: 40px;
}

.imagen_prin img{
    width:30%;
    
}

.titulohome {
    font-size: 2.5rem;
    line-height: 40px;
}

.titulohome span {
    color:grey; 
}

.contenido_imagen p{
    font-size: 1rem;
    line-height: 20px;
    color: black;
}

.botonhome button {
    border:none;
    outline: none;
    padding: 7px 20px;
    border-radius: 5px;
    background-color:#D9D9D9;
    cursor: pointer;
    font-weight: 550;
}

.registrate:hover{
    background-color: black;
    color: whitesmoke;
    transition: 0.3s;
}

.boton_cate a {
    text-decoration: none;
    color: black;

}

.detalle p {
    color:grey;
    font-weight: 600;
    font-size: 0.7rem;
}

.icono_registro img{
    padding: 5px;
    border-radius: 35%;
}

.titulo {
    color:grey;
}
.titulo span{
    color: black;
}

.dia_categoria {
    background: #D9D9D9;
    text-align: center;
    margin-top: 20px;
    padding: 20px 0px;
    border-radius: 8px;
}

.dia_categoria button{
    border: none;
    outline: none;
    padding: 7px 20px;
    background: transparent;
    
}

.dia_categoria button img {
    width: 20px;
    height: 20px;
}

.todasBtn {
    background: black !important;
    border-radius: 5px ;
    color: white !important;
}

.marcas_dispo {
    text-align: center;
    margin-bottom: 20px;
}
.logos_marcas{
    background:#EA6464 ;
    display: flex;
    justify-content: space-around;
}

.logos_marcas img{
    padding-top: 10px;
    width: 13%;
    height: 90%;
    object-fit:fill ;
}

.beneficios_compra-online{
    padding-top: 10px;
}

.beneficios_online h2{
    
    text-align: center;
}

.carrusel_final{
    padding-top: 10px;
}
.carrusel{
    text-align: center;
    }

.titulo_carrusel span{
    color: gray;
}

@media only screen and (max-width:768px) {
    .contenido_imagen {
        text-align: center;
    }
    .contenido_imagen p{
        font-size: 0.8rem;
        line-height: 20px;
        color: black;
    }    
    .titulohome {
        font-size: 1.5rem;
        line-height: 40px;
    }
    .botonhome {
        justify-content: center;
    }
    .botonhome button {
        padding: 5px 15px;
        font-size: 0.9rem;
    }
    .detalle {
        justify-content: center;
    }
    .cate {
        padding-top: 5px;
    }
    .beneficios_compra-online{
        padding-top: 5px;
    }

}

@media only screen and (max-width:576px) {
    .contenido_imagen {
        text-align: center;
    }
    
    .contenido_imagen p{
        font-size: 0.8rem;
        line-height: 20px;
        color: black;
    }
    
    .titulohome {
        font-size: 1.5rem;
        line-height: 40px;
    }

    .botonhome {
        justify-content: center;
    }

    .botonhome button {
        padding: 5px 15px;
        font-size: 0.7rem;
    }

    .detalle {
        justify-content: center;
    }
}