.contenido_imagen {
    padding-top: 40px;
}

.titulohome {
    font-size: 2.5rem;
    line-height: 40px;
}

.titulohome span {
    color:grey; 
}

.contenido_imagen p{
    font-size: 1rem;
    line-height: 20px;
    color: black;
}

.botonhome button {
    border:none;
    outline: none;
    padding: 7px 20px;
    border-radius: 5px;
    background-color:#D9D9D9;
    cursor: pointer;
    font-weight: 550;
}

.registrate:hover{
    background-color: black;
    color: whitesmoke;
    transition: 0.3s;
}

.boton_cate a {
    text-decoration: none;
    color: black;

}
/*
.boton_cate a:hover {
    background-color: black;
    color: whitesmoke;
    transition: 0.3s;
}*/

.detalle p {
    color:grey;
    font-weight: 600;
    font-size: 0.7rem;
}

.icono_registro img{
    padding: 5px;
    border-radius: 35%;
}